<!-- Portfolio Modals -->
{% for post in site.posts %}
<div class="portfolio-modal modal fade" id="portfolioModal-{{ post.modal-id }}" tabindex="-1" role="dialog"
  aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>{{ post.title }}</h2>
            <hr class="star-primary">

            <!-- Loop through images and descriptions alternately -->
            {% for i in (0..post.img.size) %}
              {% if post.img[i] %}
              <img src="img/portfolio/{{ post.img[i] }}" class="img-responsive img-centered" alt="{{ post.alt }}">
              {% endif %}

              {% if post.description[i] %}
              <p>{{ post.description[i] }}</p>
              {% endif %}
            {% endfor %}
            
            <!--
            <img src="img/portfolio/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
            {% if post.description %}
            <p>{{ post.description }}</p>
            {% endif %}
            -->
            
            <ul class="list-inline item-details">
              {% if post.client %}
              <li>Client:
                <strong>{{ post.client }}</strong>
              </li>
              {% endif %}
              {% if post.project-date %}
              <li>Date:
                <strong>{{ post.project-date }}</strong>
              </li>
              {% endif %}
              {% if post.category %}
              <li>Service:
                <strong>{{ post.category }}</strong>
              </li>
              {% endif %}
            </ul>

            <!-- <ul class="list-inline item-details"> -->
              <!-- Add a Learn More button with the URL -->
              {% if post.project_url %}
              <div class="col-lg-8 col-lg-offset-2 text-center mb-4">
                <button type="button" class="btn btn-primary" onclick="window.location.href='{{ post.url | uri_escape }}'">
                  <i class="fa fa-external-link"></i> Learn More
                </button>
              </div>
              {% endif %}
  
              <div class="col-lg-8 col-lg-offset-2 text-center">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>
                  Close
                </button>
              </div>
            <!-- <ul> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
